Python tutorial #1

Hello World !

In [3]:
print('Hello World')
print('Hello World {} + {} = {}'.format(2, 3, 2+3))

Hello World
Hello World 2 + 3 = 5

In [4]:
x = 3
print(type(x)) # Prints "<class 'int'>"
print(x)       # Prints "3"

<class 'int'>
3

In [5]:
print(x + 1)   # Addition; prints "4"
print(x - 1)   # Subtraction; prints "2"
print(x * 2)   # Multiplication; prints "6"
print(x ** 2)  # Exponentiation; prints "9"

4
2
6
9

For statement

range: 영역을 설정

In [6]:
A = range(5)
print(A)

range(0, 5)

A의 세번째 요소를 출력

In [7]:
print(A[2])

2

In [8]:
for i in range(5):
    #print(i, A[i])
    print('{} ----- {}'.format(i, A[i]))

0 ----- 0
1 ----- 1
2 ----- 2
3 ----- 3
4 ----- 4

Excersise

구구단을 작성하시오 (아래 코드를 수정하시오)

In [9]:
for i in range(9):
    print('{} x {} = {}'.format(2, i, 2*i))

2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16

Operators

In [10]:
print((1, 2, 3) * 3)
print([1, 2, 3] * 3)
print("Hello "*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)
[1, 2, 3, 1, 2, 3, 1, 2, 3]
Hello Hello Hello

Containers

Python includes several built-in container types: lists, dictionaries, sets, and tuples.

Tuple

A simple immutable (변경할 수 없는, 불변의) ordered sequence of items

In [11]:
# -*- coding: utf-8 -*-
# creating a tuple
months = ('January','February','March','April','May','June',\
'July','August','September','October','November','December')

print(months[0])
print("index of 7 ==> " , months[7])

January
index of 7 ==>  August

하나씩 출력하기

In [12]:
# iterate through them:
for item in months:
    print (item)

January
February
March
April
May
June
July
August
September
October
November
December

In [13]:
t = ('john', 32, (2,3,4,5), 'hello')
print(t)
print(t[2])
print(t[2][1])
print(t[:2]) # index 포함 X
print(t[2:]) # index 포함 O

print(t[-1])
print(t[-2])

('john', 32, (2, 3, 4, 5), 'hello')
(2, 3, 4, 5)
3
('john', 32)
((2, 3, 4, 5), 'hello')
hello
(2, 3, 4, 5)

List

Mutable (바꿀수 있는, 변경가능한) ordered sequence of items of mixed types

In [14]:
li = ['hallym', 1, 3.141572, 'hello']
print(li)

['hallym', 1, 3.141572, 'hello']

In [15]:
li[1] = 45
print(li)

['hallym', 45, 3.141572, 'hello']

In [16]:
li.append('September')
print(li)

['hallym', 45, 3.141572, 'hello', 'September']

리스트에 새로운 것이 뒤에 붙은 것 (append)을 확인 가능

비어있는 리스트 만들기

In [17]:
v = []

비어있는 리스트에 값 추가하기

In [18]:
for i in range(0,3):
    v.append(i*5)
    print(i, v)

0 [0]
1 [0, 5]
2 [0, 5, 10]

+연산자

In [19]:
print((1, 2, 3) + (4, 5, 6))
print([1, 2, 3] + [4, 5, 6])
print("Hello" + " " + "World")

(1, 2, 3, 4, 5, 6)
[1, 2, 3, 4, 5, 6]
Hello World

*연산자

The * operator produces a new tuple, list, or string that "repeats" the original content.

In [20]:
y = 2.5
print(type(y)) # Prints "<class 'float'>"
print(y, y + 1, y * 2, y ** 2) # Prints "2.5 3.5 5.0 6.25"

<class 'float'>
2.5 3.5 5.0 6.25

Enumeration (열거하기)

In [21]:
for i, val in enumerate(v):
    print('{} ---> {}'.format(i, val))

0 ---> 0
1 ---> 5
2 ---> 10

In [22]:
v2 = [ 'A', 'B', 'C',  '0', '1', '2', '3']
print(v2)

['A', 'B', 'C', '0', '1', '2', '3']

In [23]:
for i, val in enumerate(v2):
    print('{} ---> {}'.format(i, val))

0 ---> A
1 ---> B
2 ---> C
3 ---> 0
4 ---> 1
5 ---> 2
6 ---> 3

List comprehension (LC)

List comprehensions provide a concise way to create lists.

In [24]:
squares = []
for x in range(10):
    squares.append(x**2)

In [25]:
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

or, equivalently:

In [26]:
squares = [x**2 for x in range(10)]

In [27]:
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [28]:
word = '메롱'
print([c * 2 for c in word])

['메메', '롱롱']

In [29]:
A = [n for n in range(10) if n % 2 == 0]

In [30]:
print(A) # LC 에서 조건문을 통해 특정 값들을 필터링할 수 있다

[0, 2, 4, 6, 8]

Lambda

람다(lambda)는 익명함수를 지칭하는 용어

lambda 인자리스트: 표현식

In [31]:
def jegob(x):
    return x**2

In [32]:
g = lambda x: x**2

In [33]:
g(7)

49

In [34]:
print(g(8))

64

In [35]:
print(g(9))

81

In [36]:
f = lambda x, y: x + y

In [37]:
f(2, 3)

5

인자가 없는 Lambdas (Lambdas with no arguments)

In [38]:
f = lambda: True

In [39]:
f()

True